<fieldset>
  <div class='form-group'>
    <%= f.label 'Item' %>
    <%= f.collection_select :product, Product.all, :id, :name%><br>
    <%= f.label :box_size %>
    <%= f.text_field :box_size %><br>
    <%= f.label :price %>
    <%= f.text_field :price %><BR>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Delete Item', '#', class: 'remove-fields btn btn-default' %>
  </div>
</fieldset>